<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SIMVILLE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/icologo.png" rel="icon">
    <link href="/img/icologo.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Libre+Baskerville:400italic"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/catslider/catslider.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/img/icologo.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Libre+Baskerville:400italic"
          rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <!-- =======================================================
      Template Name: FoodLanding
      Template URL: https://templatemag.com/foodlanding-bootstrap-landing-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-offset="58" data-target="#navigation">
<!-- navigateur-->


<div class="navbar navbar-default navbar-fixed-top" style="background-color: #000000 !important;" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">


            </div>
            <a class="navbar-brand" href="/simville/accueil" style="color:#e67300;">SIMVILLE
                <i class="fas fa-home og" style="font-size:25px;color:#FF8000"></i></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/simville/accueil" class="">Accueil</a></li>
                <li><a href="/ville/all" class="">Choisir une ville</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- ********** MENU SLIDER SECTION ********** -->
<div class="container" id="dishes">
    <div class="row mtb">
        <h3 class="centered">Tuiles disponible</h3>
        <hr class="aligncenter mb">
        <p class="text-p centered">Vous pouvez cliquer sur chaque menu pour afficher plus d'informations.</p></div>
    <div class="col-md-10 col-md-offset-1">
        <div id="mi-slider" class="mi-slider">
            <span th:if="${page == '1'}">
          <ul>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/COM_color.png" alt="img05"><h4>Commerce</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/EGL_color.png" alt="img06"><h4>Eglise</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/RES_color.png" alt="img07"><h4>Résidence</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/ECL_color.png" alt="img08"><h4>Ecole</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/POL_color.png" alt="img08"><h4>Police</h4></a></li>
          </ul>
        </span>
            <span th:unless="${page == '1'}">
          <ul>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/RTE_color.png" alt="img05"><h4>Route</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/RTB_color.png" alt="img06"><h4>Arrêt de bus</h4></a></li>

            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/RIV_color.png" alt="img05"><h4>Rivière</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="/media/tiles/FOR_color.png" alt="img06"><h4>Eglise</h4></a></li>
          </ul>
            </span>

            <nav>
                <a href="?page=1">Batiment</a>
                <a href="?page=2">Route et nature</a>

            </nav>
        </div>
    </div>
    <!--/col-md-10 -->
</div>
<!--/row -->
</div>
<!--/container -->

<!-- MODAL DEMO FOR A MENU ITEM -->
<!-- Modal -->

<!-- /modal -->


<!-- ********** FOOTER SECTION ********** -->


<div id="contact">
    <div class="container">
         <form class="contact-form" role="form" action="/ville/add" method="POST">
        <!--<div class="col-md-12 col-md-offset-2" style="j">-->
        <div class="row">
            <h3 class="centered">CREATION VILLE</h3>
            <hr class="aligncenter mb">

           


                <div class="col-md-6">
                   <!-- <div class="row" style="background-color: #e6e6e6;"> -->
                     <table class="table table-striped">
          <tbody>
             <tr>
                    <td>
                    <fieldset>
                    <div class="form-group">
                        <label for="villeNom">ville_nom</label>
                        <input type="text" name="villeNom" class="form-control" id="villeNom" placeholder="Nom Ville"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="villeLong">ville_long</label>
                        <input type="number" name="villeLong" min="1" class="form-control" id="villeLong"
                               placeholder="Longueur ville" data-msg="Entrer la Longueur ville" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="villeLarg">ville_larg</label>
                        <input type="number" name="villeLarg" min="1" class="form-control" id="villeLarg"
                               placeholder="Largeur ville" data-msg="Entrer la Largeur ville" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="villeValeurImmoMin">ville_valeur_immo_min</label>
                        <input type="number" name="villeValeurImmoMin" min="1" class="form-control"
                               id="villeValeurImmoMin" placeholder="Valeur immobilière min" data-msg="Entrer une valeur"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="villeValeurImmoMax">ville_valeur_immo_max</label>
                        <input type="number" name="villeValeurImmoMax" min="1" class="form-control"
                               id="villeValeurImmoMax" placeholder="Valeur immobilière max" data-rule="" data-msg="Enter une valeur"
                               required>
                        <div class="validate"></div>
                    </div>
                    </fieldset>
                </td>
            </tr>
        </tbody>
    </table>
          <table class="table table-striped" style="margin-top: 50px;">
          <tbody>
             <tr>
                    <td>
                    <fieldset>
                    <div class="form-group">
                        <label for="rivDMax">rivdmax</label>
                        <input type="number" name="rivDMax" min="1" class="form-control" id="rivDMax"
                               placeholder="Distance rivière max" data-rule="" data-msg="Entrer distance max rivière" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="rivPMax">rivpmax</label>
                        <input type="number" name="rivPMax" min="1" class="form-control" id="rivPMax"
                               placeholder="Puissance rivière max" data-rule="" data-msg="Entrer puissance max rivière"
                               required>
                        <div class="validate"></div>
                    </div>                    
                    <div class="form-group">
                        <label for="rtbDMax">rtbdmax</label>
                        <input type="number" name="rtbDMax" min="1" class="form-control" id="rtbDMax"
                               placeholder="Distance arrêt bus max" data-rule="" data-msg="Entrer la distance max forêt" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="rtbPMax">rtbpmax</label>
                        <input type="number" name="rtbPMax" min="1" class="form-control" id="rtbPMax"
                               placeholder="Puissance arrêt bus max" data-rule="" data-msg="Entrer la distance max forêt" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="forDMax">fordmax</label>
                        <input type="number" name="forDMax" min="1" class="form-control" id="forDMax"
                               placeholder="Distance forêt max" data-rule="" data-msg="Entrer la distance max forêt" required>
                        <div class="validate"></div>
                    </div>
               
            </fieldset>
        </td>
    </tr>
</tbody>
</table>

 </div>
                <div class="col-md-6">
                     <table class="table table-striped" >
          <tbody>
             <tr>
                    <td>
                    <fieldset>
                    <div class="form-group">
                        <label for="forPMax">forpmax</label>
                        <input type="number" name="forPMax" min="1" class="form-control" id="forPMax"
                               placeholder="Puissance forêt max " data-rule="" data-msg="Entrer la puissance max forêt" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="eclDMax">ecldmax</label>
                        <input type="number" name="eclDMax" min="1" class="form-control" id="eclDMax"
                               placeholder="Distance école max" data-rule="" data-msg="Entrer la distance max école" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="eclPMax">eclpmax</label>
                        <input type="number" name="eclPMax" class="form-control" id="eclPMax"
                               placeholder="Puissance école max" data-rule="" data-msg="Entrer la puissance max école"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="contact-subject">egldmax</label>
                        <input type="number" name="eglDMax" min="1" class="form-control" id="eglDMax"
                               placeholder="Distance église max" data-rule="" data-msg="Enter la distance max eglise" required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="contact-name">eglpmax</label>
                        <input type="number" name="eglPMax" class="form-control" id="eglPMax"
                               placeholder="Puissance église max" data-rule="" data-msg="Entrer puissance max eglise" required>
                        <div class="validate"></div>
                    </div>
                </fieldset>
            </td>
        </tr>
    </tbody>
</table>

 <table class="table table-striped" style="margin-top: 50px;">
          <tbody>
             <tr>
                    <td>
                    <fieldset>
                    <div class="form-group">
                        <label for="contact-name">comdmax</label>
                        <input type="number" name="comDMax" min="1" class="form-control" id="comDMax"
                               placeholder="Distance commerce max" data-rule="" data-msg="Entrer votre distance max commerce"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="contact-email">compmax</label>
                        <input type="number" name="comPMax" min="1" class="form-control" id="comPMax"
                               placeholder="Puissance commerce max" data-rule="" data-msg="Entrer votre puissance max commerce"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="contact-email">poldmax</label>
                        <input type="number" name="polDMax" min="1" class="form-control" id="polDMax"
                               placeholder="Distance police max" data-rule="" data-msg="Entrer la distance max commissariat"
                               required>
                        <div class="validate"></div>
                    </div>
                    <div class="form-group">
                        <label for="contact-subject">polpmax</label>
                        <input type="number" name="polPMax" class="form-control" id="polPMax"
                               placeholder="Puissance police max" data-rule="" data-msg="Entrer la puissance max commissariat"
                               required>
                        <div class="validate"></div>
                    </div>
                </fieldset>
            </td>
        </tr>
    </tbody>
</table>
                </div>
            </div>
                <div class="row">
                <div class="loading"></div>
                <div class="error-message"></div>
                <div class="sent-message">Votre ville à bien été contruite!</div>
                <div class="form-send">
                    <button type="submit" class="btn btn-large">Créer</button>
                </div>
            </div>


            </form>
        
    </div>
</div>

<!-- footer -->
<div id="copyrights">
   <div class="container">
     <div class="credits">      
       <div class="row">
                   <div class="col-lg-2 col-md-10 col-sm-12">
                          <h5>Information</h5><br>
                          <ul class="row">
                        <a class="col-lg-12 col-sm-12 col-xs-3"  href="accueil.html"><p>Accueil</p></a>
                       <a class="col-lg-12 col-sm-12 col-xs-3" href="carte.html"><p>Modifier Tuile</p></a>
                      
                     </ul>
                   </div>

                   <div class="col-lg-4 col-md-8 col-sm-12">
                           <h5>Equipe</h5><br>
                           <ul class="row">
                        <p>Bejamin MOUGINOT</p>
                        <p>Dominik GROBECKER</p>
                       <p>Haider SHATI</p>
                       <p>Hugor MAYAMBU</a>
                       <p>Murat COLAK</p>                     
                     </ul>                          
                   </div>
                         <div class="col-lg-3 col-md-9 col-sm-12">
                           <h5>Contact us</h5><br>
                           <p><span class="fa fa-map-marker-alt"></span>&nbsp; 11 rue de example</p>
                           <p><span class="far fa-envelope"></span>&nbsp; hello@example.com</p>
                           <p><span class="fa fa-phone"></span>&nbsp; 07 66 53 56 66</p>
                         </div>
                        <div class="col-lg-3 col-md-9 col-sm-12">
                           <h5 class="text-white">Follow us</h5><br>
                           <ul class="social-network social-circle">
                            <div class="row" style="margin-bottom: 10px">
                             <li><a href="https://www.facebook.com/hugor.mayambu" class="icoFacebook" title="Facebook"><span class="fab fa-facebook-f"></span></a></li></div>
                             <div class="row" style="margin-bottom: 10px">
                             <li><a href="#https://twitter.com/mayambuh" class="icoTwitter" title="Twitter"><span class="fab fa-twitter"></span></a></li></div>
                             <div class="row">
                             <li><a href="https://www.youtube.com/channel/UCFK_yzEzZ3A5IT54B3tefww?view_as=subscriber" class="icoYoutube" title="Youtube"><span class="fab fa-youtube"></span></a></li></div>
                           </ul>
                         </div>
               </div>
     </div>
   </div>
 </div>

<!-- JavaScript Libraries -->
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/php-mail-form/validate.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/modernizr/modernizr.custom.js"></script>
<script src="lib/stellar/stellar.min.js"></script>
<script src="lib/catslider/catslider.js"></script>

<!-- Template Main Javascript File -->
<script src="js/main.js"></script>
<style>

 /*FOOTER*/
 /* footer social icons */

 ul.social-network {
 list-style: none;
 display: inline;
 margin-left: 0 !important;
 padding: 0;
 }

 ul.social-network li {
 display: inline;
 margin: 0 3px;
 }


 /* footer social icons */

 .social-network a.icoFacebook:hover {
 background-color: #3B5998;
 }

 .social-network a.icoTwitter:hover {
 background-color: #007bb7;
 }

 .social-network a.icoYoutube:hover {
 background-color: #FF0000;
 }

 .social-network a.icoEnvelope:hover {
 background-color: #D35400;
 }

 .social-network a.icoFacebook:hover span,
 .social-network a.icoTwitter:hover span,
 .social-network a.icoYoutube:hover span,
 .social-network a.icoEnvelope:hover span {
 color: #fff;
 }

 .social-network a.socialIcon:hover,
 .socialHoverClass {
 color: #44BCDD;
 }

 .social-circle li a {
 display: inline-block;
 position: relative;
 margin: 0 auto 0 auto;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 text-align: center;
 width: 45px;
 height: 45px;
 font-size: 30px;
 }

 .social-circle li span {
 margin: 0;
 padding: 7px;
 line-height: 30px;
 text-align: center;
 }

 .social-circle li a:hover span,
 .triggeredHover {
 -moz-transform: rotate(360deg);
 -webkit-transform: rotate(360deg);
 -ms--transform: rotate(360deg);
 transform: rotate(360deg);
 -webkit-transition: all 0.5s;
 -moz-transition: all 0.5s;
 -o-transition: all 0.5s;
 -ms-transition: all 0.5s;
 transition: all 0.5s;
 }

 .social-circle span {
 color: #595959;
 -webkit-transition: all 0.8s;
 -moz-transition: all 0.8s;
 -o-transition: all 0.8s;
 -ms-transition: all 0.8s;
 transition: all 0.8s;
 }

 .social-network a {
 background-color: #F9F9F9;
 }



</style>


</body>
</html>


 

 