<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container" style="">

    <h1>Application villesim</h1>


    <div th:style="|width: ${taille}|">
        <div th:each="url : ${Listeurl}"  style="float: left; width: 100px ">
            <a href="#" >
                <img th:src="@{${url}}"  class="card-img-top" />
            </a>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>