<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container" style="">

    <th:label value="details de la tuile n° ${tuileCarte.tuileCarteposition} ville ${tuileCarte.ville.villeNom}"/>
                <img th:src="@{${tuileCarte.terrain.terrainImgUrl}}"  class="card-img-top" />
</div>
<form action ="/tuilecarte/updateterrain/" method="post" class="form-example" >
    <div class="form-example">
        <label for="IdTerrain">IdTerrain </label>
        <input type="number" name="IdTerrain" id="IdTerrain"th:value="${tuileCarte.terrain.Id}" required>
    </div>
    <div class="form-example">
        <label for="IdTuileCarte">IdTuileCarte</label>
        <input type="number" name="IdTuileCarte" id="IdTuileCarte" th:value="${tuileCarte.Id}" required>
    </div>
    <div class="form-example">

        <button type="submit" >Sauvegarder!
        </button>
    </div>
</form>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" >
</script>


</body>
</html>